.flight {
    border: thin solid black;
}

#dropdownTo {
    display: none;
    float: left !important;
    margin: 10x;
    background: #ffffff !important;
    min-width: 214px;
    max-height: 200px;
    overflow: scroll;
    border: 1px solid #ddd;
    position: absolute;
    left: 42px;
}

#dropdownFrom {
    display: none;
    position: absolute;
    left: 307px;
    float: left !important;
    background: #ffffff !important;
    min-width: 214px;
    max-height: 200px;
    overflow: scroll;
    border: 1px solid #ddd;
}